{
    "policy-space-name": "{{ ContivOpflexTenant }}",
    "endpoint-group-name": "{{ ContivAppProf }}|{{ ContivTestEPG }}",
    "interface-name": "{{ contiv_test_vport }}",
    "ip": [
        "{{ test_ip }}"
    ],
    "mac": "{{ test_mac }}",
    "uuid": "{{ test_uuid }}",
    "promiscuous-mode": false
}
